{% extends "base.html" %}


{% block body %}
<section class="Front">
  <header class="Front-header">
    <div class="container flex-col">
      
      <h1 class="flex-col text-white">
        <span class="Front-header-title"><strong>FROID</strong></span>
        <span class="d-none">&nbsp;-&nbsp;</span>
        <span class="Front-header-subtitle"><strong>Freaky Droid</strong></span>
      </h1>
      
      <h2 class="Front-header-description">FROID is self learning chatbot that learns from what you write to him. Talk&nbsp;with Froid and have fun! Start conversation now.</h2>

      <div class="flex-col flex-justify-start mt-3">
        <a class="flex-align-self-start btn btn-warning mb-3" href="/froid"><b>START&nbsp;CONVERSATION</b></a>
        <a class="flex-align-self-start mt-3 text-white user-select-none" href="http://www.freepik.com">Background designed by starline / Freepik</a>
      </div>
    </div>
  </header>
</section>
{% endblock %}
